* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#alien2 {
    transform: rotate(10deg);
}

#alien4 {
    transform: rotate(32deg);
}

#alien5 {
    transform: rotate(-4deg);
}

#alien6 {
    transform: rotate(38deg);
}

#alien7 {
    transform: rotate(40deg);
}

.alien img { 
    height:140px;
    position: absolute;
    visibility: hidden;
}

body {
    background-color: black;
    cursor:crosshair;
    display:flex;
        align-items: center;
        justify-content: center;
    height:100vh;
    overflow: hidden;
    width:100%;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
}

canvas {
    background-color: black;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.craft {
    position:absolute;
    -webkit-touch-callout: none;
}

.portfolio {
    position:absolute;
        top:10px;
    visibility:hidden;
}

.portfolio a {
    color:oldlace;
    opacity:0.7;
    text-decoration: none;
}

.score {
    position:absolute;
        bottom: 5px;
    color:whitesmoke;
    font-family: "press start 2p", "audiowide";
    font-size: medium;
    visibility: hidden;
}

#spacecraft {
    position: absolute;
    visibility: hidden;
    width:80px;
}


@media (max-width: 1200px) {

    .alien img {
        height:130px;
    }

    #spacecraft {
        width:75px;
    }

}

@media (max-width: 1000px) {

    .alien img {
        height:120px;
    }

    #spacecraft {
        width:70px;
    }

}

@media (max-width: 800px) {

    .alien img {
        height:110px;
    }

    #spacecraft {
        width:65px;
    }
    
}

@media (max-width: 600px) {

    .alien img {
        height:100px;
    }

    #spacecraft {
        width:60px;
    }

}

@media (max-width: 400px) {

    .alien img {
        height:90px;
    }

    #spacecraft {
        width:55px;
    }

}

