#alien2 {
    transform: rotate(10deg);
}

#alien4 {
    transform: rotate(32deg);
}

#alien5 {
    transform: rotate(-4deg);
}

#alien6 {
    transform: rotate(38deg);
}

.alien img { 
    height:150px;
    position: absolute;
    visibility: hidden;
}

body {
    background-color: black;
    cursor:crosshair;
    display:flex;
        align-items: center;
        justify-content: center;
    margin:0;
    min-height:100vh;
    min-width:100vw;
    overflow: hidden;
    user-select: none;
}

canvas {
    background-color: black;
    height:100%;
    position: absolute;
    width:100%;
}

.craft {
    position:absolute;
    -webkit-touch-callout: none;
}

.portfolio {
    position:absolute;
        top:10px;
    visibility:hidden;
}

.portfolio a {
    color:oldlace;
    opacity:0.7;
    text-decoration: none;
}

#spacecraft {
    position:absolute;
    width:90px;
}


@media (max-width: 1200px) {

    .alien img {
        height:140px;
    }

    #spacecraft {
        width:85px;
    }

}

@media (max-width: 1000px) {

    .alien img {
        height:130px;
    }

    #spacecraft {
        width:80px;
    }

}

@media (max-width: 800px) {

    .alien img {
        height:120px;
    }

    #spacecraft {
        width:75px;
    }

}

@media (max-width: 600px) {

    .alien img {
        height:110px;
    }

    #spacecraft {
        width:70px;
    }

}

@media (max-width: 400px) {

    .alien img {
        height:100px;
    }

    #spacecraft {
        width:65px;
    }

}

