body {
    background-color: black;
    display:flex;
        align-items: center;
        justify-content: center;
    margin:0;
    min-height:100vh;
    min-width:100vw;
    overflow: hidden;
    user-select: none;
    
}

canvas {
    background-color: black;
    cursor:crosshair;
    height:100%;
    width:100%;
}

.craft {
    position:absolute;
    -webkit-touch-callout: none;
}


.portfolio {
    position:absolute;
        top:10px;
    visibility:hidden;
}

.portfolio a {
    color:oldlace;
    opacity:0.7;
    text-decoration: none;
}

#spacecraft {
    position:absolute;
    width:90px;
}


@media (max-width: 1200px) {

    #spacecraft {
        width:85px;
    }

}

@media (max-width: 1000px) {

    #spacecraft {
        width:80px;
    }

}

@media (max-width: 800px) {

    #spacecraft {
        width:75px;
    }

}

@media (max-width: 600px) {

    #spacecraft {
        width:70px;
    }

}

@media (max-width: 400px) {

    #spacecraft {
        width:65px;
    }

}

